.job {
  display: flex;
  justify-content: space-between;
}

table {

  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
}
.search{
  width: 25%;
  height: 30px;
  margin-top: 20px;
}
.btndelete{
display: block;
padding: 3px 15px;
text-align: center;
color: white;
background-color: red;
border-radius: 5px;
border-color: red;

}
.btndelete:hover{
  background-color: transparent;
  color: red;
  border-color: red;
  transform: 1s;
}
.btnedit{
  display: block;
  padding: 3px 15px;
  text-align: center;
  color: white;
  background-color: blue;
  
}