.job {
  display: flex;
  justify-content: space-between;
}

table {
  width: 110px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
  max
}
.search{
  width: 25%;
  height: 30px;
  margin-top: 20px;
}
